:host {
    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // background-image: url('../../../../../public/assets/img/bubbles/bubble1.png');
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position-y: -200px;
        // background-position-x: 80vw;

        .card {
            width: 25%;
            background: var(--primary);
            margin: 20px;
            padding: 40px;
            text-align: center;
            border-radius: 20px;
            box-shadow: 1px -1px 5px var(--text-001);

            img {
                width: 100%;
                border-radius: 20px;
            }

            h2, h3 {
                color: var(--black-010);
            }
            
            h3 {
                border-top: 3px solid var(--black-010);
                padding-top: 20px;
            }

            .uppercase {
                text-transform: uppercase;
            }
        }

        .description {
            width: 30%;

            h3 {
                color: var(--primary);
                font-size: 60px;
                text-shadow: 1px -1px 3px var(--text-001);
                margin: 0px;
            }

            p {
                color: var(--text-001);
                font-size: 24px;
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            margin: 20px 0;
            flex-direction: column;
            gap: 20px;

            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90%;
                padding: 20px;

                span {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 20px;
                }

                img {
                    width: 30%;
                }

                h3 {
                    width: 100%;
                }
            }

            .description {
                width: 100%;

                h3 {
                    font-size: 40px;
                }

                p {
                    font-size: 18px;
                }
            }
        }
    }
}