<div class="container">
    <div class="card" [@move-up]>
        <span>
            <img src="assets/img/perfil.png" alt="">
            <h2>ALAN SOUSA DA SILVA</h2>
        </span>
        <h3 class="uppercase">
            {{'home.developer' | translate}}<br/>
            .NET/ANGULAR<br/>
            FULL STACK
        </h3>
    </div>

    <div class="description" [@move-up]>
        <h3>{{'home.hello' | translate}}<br/>{{'home.welcome' | translate}}</h3>
        <p>{{'home.description' | translate}}</p>
    </div>
</div>