<div class="container">
    <h2>ESCOLARIDADE</h2>
    <div class="timeline-content">
        <ul>
            @for (education of this.arrayEducation(); track education) {
            <li>
                <span class="timeline-title">{{education.course}}</span>
                <div class="timeline-description">
                    <p>Instituição: {{education.institution}}</p>
                    <p>Situação: {{education.state}}</p>
                    <p>{{formatDate(education.startDate)}} {{education.endDate == null ? "" : " - " + formatDate(education.endDate)}}</p>
                    <div class="timeline-content">
                        <ul>
                            @for (project of education.projects; track $index) {
                            <li>
                                <span>{{project.title}}</span>
                                <div class="timeline-description">
                                    <p>{{project.description}}</p>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>

    <h2>MERCADO DE TRABALHO</h2>
    <div class="timeline-content">
        <ul>
            @for (experience of arrayExperiences(); track experience) {
            <li>
                <span class="timeline-title">
                    <a [href]="experience.companyUrl" target="_blank">{{experience.company}}</a>
                </span>
                <div class="timeline-description">
                    <p>Ramo: {{experience.companyCategory}}</p>
                    <p>{{ formatDate(experience.startDate)}} {{experience.endDate == null ? " - EMPREGO ATUAL" : " - " + formatDate(experience.endDate)}}</p>
                    <div class="timeline-content">
                        <ul>
                            @for (position of experience.positions; track $index) {
                            <li>
                                <span>{{position.title}}</span>
                                <div class="timeline-description">
                                    <p>{{position.description}}</p>
                                    <p>Período: {{formatPeriod(position.period, experience)}}</p>
                                    <p>Ferramentas: {{position.technologies.join(', ')}}</p>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </li>
            }
        </ul>
    </div>
</div>