<div class="container">
    <div class="text-box">
        <h3>SOBRE MIM</h3>
        <p>
            Meu nome é Alan Sousa da Silva, tenho {{ age() }} anos e sou natural de Beberibe no Ceará. Sou graduado em Ciência da Computação pela Universidade Federal do Ceará. Cresci no interior do Beberibe, na comunidade Córrego do Pântano, morei lá até meus 15 anos, quando me mudei para o centro de Beberibe para estudar na escola profissionalizante. Tenho duas irmãs mais novas, Laís e Lara, meus pais Franscisco e Elizangela, trabalham como autônomo e professora, respectivamente. Atualmente trabalho como desenvolvedor .NET Full Stack na empresa <a target="_blank" href="https://fitbank.com.br/">FitBank 450</a>.
        </p>
    </div>
    <div class="text-box">
        <h3>HOBBIES</h3>
        <p>
            Gosto de passar um tempo trocando ideia com meus amigos, via Discord enquanto estudo ou fazendo um churrasco pra relaxar. Gosto de jogar video game, principalmente jogos em pixel art. Vez ou outra gosto de comprar um quebra-cabeça para testar minha paciência, o mais bonito que montei foi A Noite Estrelada de Van Gogh, de 1000 peças. Quando estou em casa, em Beberibe, gosto de passar um tempo com as crianças que tem na vizinhança para jogar UNO, video game e fazer experiências.
        </p>
    </div>
</div>
