:host {
    .text-box {
        width: 80%;
        margin-top: 40px;

        h3, p {
            color: var(--text-001);
        }

        p {
            font-size: 18px;
        }
    }

    @media (max-width: 768px) {
        .text-box {
            width: 100%;
        }
    }
}

::ng-deep p a {
    text-decoration: underline !important;
    color: var(--text-001) !important;
}