<footer class="container">
    <div>
        <p>
            Contribua com esse 
            <a href="https://github.com/Alanssrv/portfolio" target="_blank">
                projeto
            </a>
        </p>
        <p>Baixe meu 
            <a href="https://drive.google.com/drive/folders/1Y1UZdr9Y4i1atdblyeLTIkhdBm94Jocx?usp=sharing" target="_blank">
                currículo
            </a>
        </p>
    </div>
    <ul>
        @for (icon of this.icons(); track $index) {
            <li>
                <a [href]="icon.url" target="_blank">
                    <img
                    [src]="icon.imgSrc"
                    [alt]="icon.name"
                    width="30px"
                    height="30px"
                    >
                </a>
            </li>
        }
    </ul>
</footer>