<footer class="container">
    <div>
        <p>
            Contribua com esse 
            <a href="https://github.com/Alanssrv/portfolio" target="_blank">
                projeto
            </a>
        </p>
        <p>Baixe meu 
            <a href="https://github.com/Alanssrv/portfolio" target="_blank">
                currículo
            </a>
        </p>
    </div>
    <ul>
        <li>
            <a href="https://api.whatsapp.com/send?phone=5585987790622&text=Ol%C3%A1%20Alan%2C%20tudo%20bem%3F" target="_blank">
                <img
                    src="assets/icons/whatsapp.svg"
                    alt="Ícone para contato do WhatsApp"
                    width="30px"
                    height="30px"
                >
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/s0usa.dll/" target="_blank">
                <img
                    src="assets/icons/instagram.svg"
                    alt="Ícone para acesso ao perfil do Instagram"
                    width="30px"
                    height="30px"
                >
            </a>
        </li>
        <li>
            <a href="https://github.com/alanssrv/" target="_blank">
                <img
                    src="assets/icons/github.svg"
                    alt="Ícone para acesso ao perfil do Github"
                    width="30px"
                    height="30px"
                >
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/alan-sousa-6790ba1a3/" target="_blank">
                <img
                    src="assets/icons/linkedin.svg"
                    alt="Ícone para acesso ao perfil do LinkedIn"
                    width="30px"
                    height="30px"
                >
            </a>
        </li>
    </ul>
</footer>