:host {
    footer {
        background: var(--primary);
        display: flex;
        justify-content: space-between;

        div {
            margin: 15px 0;

            p {
                color: var(--black-010);
                margin: 0px;
                font-size: 20px;
            }
        }
        
        a {
            color: var(--black-010) !important;
            text-decoration: underline;
        }

        ul {
            display: flex;
            gap: 40px;
            align-items: center;
        }
    }

    @media (max-width: 768px) {
        footer {
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            ul {
                display: grid;
                padding: 20px 0;
                grid-template-rows: repeat(2, auto);
                grid-auto-flow: column;
                row-gap: 8px;
            }
        }
    }
}
