:host {
    .bubble {
        background-image: url('../../public/assets/img/bubbles/bubble1.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: -200px;
        background-position-x: 70vw;
    }
}