:host {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        user-select: none;       /* Standard */
        -webkit-user-select: none; /* Chrome, Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE/Edge */

        h1 {
            color: var(--text-001);
            font-size: 36px;
        }

        ul {
            display: flex;
            font-size: 20px;
            gap: 80px;

            li > a, span {
                color: var(--text-001);
                text-transform: uppercase;
            }
        }

        .activePage {
            text-decoration: underline;
        }

        .moreOption {
            cursor: pointer;
            position: relative;
            z-index: 1000;

            .moreLabel {
                display: inline-flex;
                align-items: center;
                gap: 8px;
            }

            > span {
                display: inline-block;
            }
        }
        
        .moreMenu {
            display: block;
            position: absolute;
            top: calc(100% + 16px);
            right: 0;
            border-radius: 5px;
            padding: 0px 5px;

            background-color: rgba(0, 0, 0, 0.13);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px); /* Safari support */

            .menuItem {
                h4 {
                    margin-top: 10px;
                    margin-bottom: 0;
                    color: var(--text-001);
                }
                
                ul {
                    font-size: 16px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    li {
                        text-transform: none;
                        display: flex;
                        align-items: center;

                        i {
                            color: var(--text-001);
                        }
                    }
                }
            }
        }
    }

     @media (max-width: 768px) {
        header {
            flex-wrap: wrap;

            a:first-child {
                width: 100%;
                h1 {
                    anchor-name: --header-anchor;
                    margin-bottom: 8px;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 0 !important;
        }
        
        li.moreOption {
            position: fixed !important;
            position-anchor: --header-anchor;
            right: 25px;
            top: anchor(center);
            transform: translateY(-50%);
        }
    }
}